.mainBackground {
  height: 100vh;
  background-size: cover;
}

.intro {
  height: 500px;
  display: flex;
  /* justify-content: end;
  align-items: end; */
}

.title {
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 3px;
  text-shadow: 2px 2px black;
}

.text-box {
  margin-top: 10px;
  text-shadow: 1px 1px black;
}

.populer {
  background: white;
  padding-bottom: 100px;
}

.movieImg {
  height: auto;
  margin: 5px;
  padding: 5px;
}

/* .movieWrapper {
  } */

.right {
  text-align: right;
  padding-bottom: 30px;
}

.rating {
  font-size: 18px;
}

.detail-style {
  justify-content: center;
}
